<div class="container">
  <nav>
          <ul class="mcd-menu">
              <li cdkDrag>
                  <a class="active">
                      <!-- <i class="fa fa-edit"></i> -->
                      <img src= "../../assets/images/folder.png" alt="folfer" width="50" height="50">
                      <!-- <strong>BLOCK</strong> -->
                  </a>
              </li>
              <li cdkDrag>
                  <a>
                      <!-- <i class="fa fa-gift"></i>
                      <strong>TEXTBOX</strong> -->
                      <img src= "../../assets/images/newspaper.png" alt="folfer" width="50" height="50">
                  </a>
              </li>
              <li cdkDrag>
                  <a>
                      <!-- <i class="fa fa-globe"></i>
                      <strong>RADIO</strong> -->
                      <img src= "../../assets/images/radio-button.png" alt="folfer" width="50" height="50">
                  </a>
              </li>
              <li cdkDrag>
                  <a>
                      <!-- <i class="fa fa-comments-o"></i>
                      <strong>CHECKBOX</strong> -->
                      <img src= "../../assets/images/check.png" alt="folfer" width="50" height="50">
                  </a>
                  <!-- <ul>
                      <li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
                      <li>
                          <a href="#"><i class="fa fa-group"></i>Our Team</a>
                          <ul>
                              <li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
                              <li>
                                  <a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
                                  <ul>
                                      <li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
                                      <li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
                                  </ul>
                              </li>
                              <li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
                          </ul>
                      </li>
                      <li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
                      <li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
                  </ul> -->
              </li>
              <li cdkDrag>
                  <a>
                      <!-- <i class="fa fa-picture-o"></i>
                      <strong>DROPDOWN</strong> -->
                      <img src= "../../assets/images/drop-down.png" alt="folfer" width="50" height="50">
                  </a>
              </li>
              <li cdkDrag>
                  <a>
                      <!-- <i class="fa fa-envelope-o"></i>
                      <strong>ATTACHFILE</strong> -->
                      <img src= "../../assets/images/uploading-option.png" alt="folfer" width="50" height="50">
                  </a>
              </li>
              <li cdkDrag>
                <a>
                    <!-- <i class="fa fa-envelope-o"></i>
                    <strong>UPLOAD</strong> -->
                    <img src= "../../assets/images/attachfile.png" alt="folfer" width="50" height="50">
                </a>
            </li>
          </ul>
      </nav>
  </div>
